
{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <head>
    <link rel="stylesheet" href="{{$.Site.BaseURL}}/css/main.css">
  </head>
  
  <!-- Title and Description Section -->
  <!-- <div class="custom-bg-white tc pv4 w-100 ph3 center" style="text-align: center;">
    <h1 class="f1">{{ .Params.subtitle }}</h1> -->
  <div class="custom-bg-white tc pv4 w-100 ph3 center" style="background-color: #f5ebe1;">
    <h1 class="f1" style="line-height: 1.0">{{ .Params.subtitle }}</h1>
    <p class="f4 lh-copy mw7 center" style="text-align: center;">{{ .Params.description | default "Your custom subtitle or description here." }}</p>
  </div>
  
  <!-- Main Content Section -->
  <div class="flex-l center" style="background-color: #f5ebe1;">
    <div class="center cf pv3 ph3 ph4-ns mw8 flex">
      <div class="w-50-l pl3 ph0">
        <img src="{{$.Site.BaseURL}}images/papa_contact.jpg" alt="Kontaktbild" style="object-fit: cover;">
      </div>

      <div class="nested-copy-line-height lh-copy f4 nested-links ph3 {{ $.Param "text_color" | default "mid-gray" }} w-50-l w-100-m" style="background-color: #633331">
        {{ .Content }}
      </div>
    </div>
  </div>
  <style>
    /* Base Flex Layout */
    .flex {
      display: flex;
      flex-wrap: wrap; /* Ensure children wrap to the next row if space is limited */
    }

    /* Responsive Breakpoint for Smaller Screens */
    @media screen and (max-width: 768px) {
      .flex {
        flex-direction: column; /* Stack items vertically */
      }
      .w-50-l {
        width: 100%; /* Make both image and content full-width */
      }
    }
  </style>
{{ end }}

