{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <head>
    <link rel="stylesheet" href="{{$.Site.BaseURL}}/css/main.css">
  </head>
  <div class="flex-l center" style="background-color: #f5ebe1;">
    <article class="center cf pv5 ph3 ph4-ns mw8">
      <header style="text-align: center;">
        <h1 class="f1">
          {{ .Params.subtitle }}
        </h1>
        <p class="f4 lh-copy mw7 center">{{ .Params.description | default "Your custom subtitle or description here." }}</p>
        <hr class="mw6 center" style="border: 1px solid #633331; margin-top: 20px; margin-bottom: 20px;">
        <p class="f4 lh-copy mw7 center">{{ .Params.subdescription }}</p>
        <a href="{{$.Site.BaseURL}}pages/contact/" class="font-Thasadith ba custom-border-color custom-bg-white br2 color-inherit dib f4 link mb4 ph3 pv2 custom-button-text">Anfrage senden</a>
      </header>
      <div class="pa2" style="background-color: #633331;">
        <div class="row">
        {{ $images := resources.Match "images/*"}}
        {{ $columns := 4 }} <!-- Number of columns -->
        {{ $imagesPerColumn := div (len $images) $columns }}

        {{ range $colIndex := seq 0 (sub $columns 1) }}
        <div class="column">
          {{ range $imgIndex, $image := $images }}
          {{ if eq (mod $imgIndex $columns) $colIndex }}
          <div class="pa2">
            <img src="{{ $image.RelPermalink }}" alt="{{ $image.Name }}" class="modal-content" onclick="openModal(this)">
          </div>
          {{ end }}
          {{ end }}
        </div>
        {{ end }}
        </div>
      </div>
      <div id="imageModal" class="modal" onclick="closeModal()">
        <span class="close">&times;</span>
        <img class="modal-content" id="enlargedImage">
        <div id="caption"></div>
      </div>
    </article>
  </div>
  
  <script>
    function openModal(image) {
      var modal = document.getElementById("imageModal");
      var modalImg = document.getElementById("enlargedImage");
      var captionText = document.getElementById("caption");
      
      modal.style.display = "block"; // Show the modal
      modalImg.src = image.src; // Set the image source
      //captionText.innerHTML = image.alt; // Set the image caption
    }

    function closeModal() {
      var modal = document.getElementById("imageModal");
      modal.style.display = "none"; // Hide the modal
    }
  </script>
{{ end }}
 

