{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <head>
    <link rel="stylesheet" href="{{$.Site.BaseURL}}/css/main.css">
  </head>

  <!-- Title and Description Section -->
  <div class="custom-bg-white tc pv4 w-100 ph3 center" style="text-align: center;">
    <h1>{{ .Params.subtitle }}</h1>
    <p class="f4 lh-copy mw7 center" style="text-align: center;">{{ .Params.description | default "Your custom subtitle or description here." }}</p>
  </div>

  <!-- Main Content Section -->
  <div class="flex-l center" style="background-color: #f5ebe1;">
    <!-- <article class="center cf pv4 ph3 mw8"> -->
    <article class="center cf ph3 mw8">
      <div class="pa2 pv3" style="background-color: #633331;">
        <div class="row">
        {{ $images := resources.Match "images/gallery/*"}}
        {{ $columns := 4 }} <!-- Number of columns -->
        {{ $imagesPerColumn := div (len $images) $columns }}

        {{ range $colIndex := seq 0 (sub $columns 1) }}
        <div class="column">
          {{ range $imgIndex, $image := $images }}
          {{ if eq (mod $imgIndex $columns) $colIndex }}
          <div class="pa2">
            <img src="{{ $image.RelPermalink }}" alt="{{ $image.Name }}" class="modal-content img-responsive" onclick="openModal(this)">
          </div>
          {{ end }}
          {{ end }}
        </div>
        {{ end }}
        </div>
      </div>
      <!-- <div id="imageModal" class="modal" onclick="closeModal()">
        <span class="close">&times;</span>
        <img class="modal-content" id="enlargedImage" loading="lazy">
      </div> -->
      <div id="imageModal" class="modal" onclick="closeModal()">
        <span class="close">&times;</span>
        <button class="nav-btn prev" onclick="event.stopPropagation(); navigateImage(-1)">&#10094;</button>
        <img class="modal-content" id="enlargedImage" loading="lazy">
        <button class="nav-btn next" onclick="event.stopPropagation(); navigateImage(1)">&#10095;</button>
      </div>
      <div style="text-align: center;">
        <p class="f4 lh-copy mw7 center" style="text-align: center;">{{ .Params.subdescription }}</p>
        <a href="{{$.Site.BaseURL}}pages/contact/" class="font-Thasadith ba custom-border-color custom-bg-white br2 color-inherit dib f4 link mb4 ph3 pv2 custom-button-text">Anfrage senden</a>
      </div>
    </article>
  </div>
  
  <script>
    let touchStartX = 0;
    let touchEndX = 0;
    
    document.getElementById('imageModal').addEventListener('touchstart', e => {
      touchStartX = e.changedTouches[0].screenX;
    });

    document.getElementById('imageModal').addEventListener('touchend', e => {
      touchEndX = e.changedTouches[0].screenX;
      handleSwipe();
    });

    function handleSwipe() {
      const swipeThreshold = 50;
      const diff = touchEndX - touchStartX;
      
      if (Math.abs(diff) > swipeThreshold) {
        if (diff > 0) {
          // Swipe right - previous image
          navigateImage(-1);
        } else {
          // Swipe left - next image
          navigateImage(1);
        }
      }
    }
    let currentImageIndex = 0;
    const images = Array.from(document.querySelectorAll('.img-responsive')).map(img => img.src);

    function openModal(image) {
      var modal = document.getElementById("imageModal");
      var modalImg = document.getElementById("enlargedImage");
      modal.style.display = "flex";
      modalImg.src = image.src;
      currentImageIndex = images.indexOf(image.src);
    }

    function navigateImage(direction) {
      const img = document.getElementById("enlargedImage");
      img.classList.add('fade');
      
      setTimeout(() => {
        currentImageIndex = (currentImageIndex + direction + images.length) % images.length;
        img.src = images[currentImageIndex];
        img.classList.remove('fade');
      }, 300); // Match this with the CSS transition duration (0.3s = 300ms)
    }

    function closeModal() {
      document.getElementById("imageModal").style.display = "none";
    }
  </script>
{{ end }}

