{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  <div class="{{ .Site.Params.cover_dimming_class | default "#e1dbdb 50%" }}">
    {{ partial "site-navigation.html" .}}
  <header class="tc-l pv2 pv3-l ph3 ph4-ns" style="background: linear-gradient(to bottom, #f5ebe1 50%, #633331 50%);">
      {{ if $featured_image }}
      <div class="pv3">
        <h1 class="f1"> 
          {{ .Title }}
        </h1>
      </div>
      <div class="featured-image-container">
        <img src="{{ $featured_image }}" alt="Featured Image" style="width: 100%; height: 100%; object-fit: cover;">
      </div>      
      {{ end }}
      <div class="pv1 w-100 w-50-l w-80-m center">
        {{ with .Params.description }}
        <p style="color:#f5ebe1">{{.}}</p>
        {{ end }}
      </div>
    </div>
  </header>
{{ end }}
