<nav class="pv3 ph3 ph4-ns" role="navigation" style="background-color: #f5ebe1;">
  <div class="flex justify-between items-center center">
    <div class="flex items-center">
      <a href="{{ .Site.Home.RelPermalink }}" class="pr3">
        <img src="/images/logo_red.png" alt="Logo" style="height: 40px; width: auto;">
      </a>
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <a class="no-underline custom-font-red-90 font-Thasadith" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>
