<footer class="{{ .Site.Params.background_color_class | default "#633331" }} bottom-0 w-100 pa3" role="contentinfo" style="background-color: #633331;">
  <div class="flex justify-between">
  <a class="f4 fw4 custom-font-white-90 font-Thasadith no-underline dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
