{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif white" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form class="custom-font-white font-Thasadith" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">
    <input type="hidden" name="_redirect" value="https://sesselwerkstatt.com/"/>
    <label class="custom-font-white font-Thasadith {{ $.Scratch.Get "labelClasses" }}"  for="name">Name</label>
    <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="name"/>

    <label class="custom-font-white font-Thasadith {{ $.Scratch.Get "labelClasses" }}" for="email">E-Mail Adresse</label>
    <input type="email" id="email" name="email" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="email"/>
    <!-- <div class="requirements f6 white glow i ph3 overflow-hidden">
      {{ i18n "emailRequiredNote" }}
    </div> -->

    <label class="custom-font-white font-Thasadith {{ $.Scratch.Get "labelClasses" }}" for="message">Nachricht</label>
    <textarea id="message" name="message" class="{{ $.Scratch.Get "inputClasses" }} h5" aria-labelledby="message"></textarea>

    <div class="mt0" style="display: flex; align-items: center;">
      <input type="checkbox" id="privacy" name="privacy" required style="margin-right: 10px; margin-top: 10px;">
      <label for="privacy" class="custom-font-white font-Thasadith {{ $.Scratch.Get "labelClasses" }}" style="line-height: 1.0">
          Ich stimme der <a href="/Sesselwerkstatt/pages/privacy/" target="_blank" class="underline">Datenschutzerklärung</a> zu.
      </label>
    </div>

    <input class="db w-100 mv2 custom-font-white-90 pa3 bn hover-shadow bg-animate custom-bg-light-red" type="submit" value="Senden" />

</form>
